<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Max Coach</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="dist/app.css">
  </head>
  <body>
    <!-- ROOT - APP -->
    <div id="app">


      <!-- LANDING PAGE -->
      <div id="general-container">

        <!-- HEADER -->
        <header class="header">
          <div class="header-bg">
            <div class="header-bg-container">

              <div class="header-top">

                <div class="header-top-logo">
                  <img src="img/dark-logo.png" alt="">
                </div>


                <div class="menu-navbar">
                  <div class="menu-navbar-center">
                    <ul>
                      <li v-for="item in CenterNavbar">
                        {{item.obj}}
                        <i class="fas fa-chevron-down"></i>
                      </li>
                    </ul>
                  </div>

                  <div class="menu-options">
                    <img src="img/en.png" alt="">

                    <select class="menu-options-select" v-model="selected">
                      <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>

                    <div class="menu-options-search-bar">
                          <input type="text" placeholder="Search..." value="">
                          <i class="fas fa-search"></i>
                        </div>
                  </div>
                </div>
              </div>


              <div class="jumbotron">
                <div class="jumbotron-subtitle">
                  <h3 v-for="text in JumbotronTexts"> {{text.subtitle}} </h3>
                </div>
                <div class="jumbotron-title">
                  <h2 v-for="text in JumbotronTexts"> {{text.title}} </h2>
                </div>
                <div class="jumbotron-text">
                  <p v-for="text in JumbotronTexts"> {{text.text}} </p>
                </div>
                <div class="jumbotron-button">
                  <button type="button" name="button">Get started today</button>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- END HEADER -->

        <!-- MAIN -->
        <main class="main">
          <!-- FIRST SECTION -->
          <div class="first-section">
            <div class="first-section-text">
              <h2 v-for="text in MainFirstSectionText">{{text.title}}</h2>
              <h3 v-for="text in MainFirstSectionText">{{text.description}}</h3>
            </div>

            <div class="first-section-boxes">
              <div class="first-section-boxes-boxlist" v-for="text in MainFirstSectionBoxes">
                <h2>{{text.boxTitle}}</h2>
                <p>{{text.boxDescription}}</p>
              </div>
              <div class="first-section-buttons">
                <button type="button" name="button">Learn more</button>
                <button type="button" name="button">Get started today</button>
              </div>
            </div>


          </div>
          <!-- FIRST SECTION -->

          <!-- SECOND SECTION -->

          <div class="second-section">

              <div class="second-section-text">
                <h2 v-for="text in MainSecondSectionText">{{text.title}}</h2>
                <h3 v-for="text in MainSecondSectionText">{{text.description}}</h3>
              </div>

              <div class="second-section-boxes" v-for="element in MainSecondSectionBoxes">

                <div class="second-section-boxes-boxlist">

                  <div class="second-section-boxes-boxlist-images">
                    <img :src="'./img/home-business-service-slide'+ element.img +'.jpg'" alt="">
                  </div>


                  <div class="second-section-boxes-boxlist-description">
                    <h2>{{element.boxTitle}}</h2>
                    <h3>{{element.boxDescription}}</h3>
                  </div>

                </div>
              </div>


          </div>

          <!-- SECOND SECTION -->


          <!-- THIRD SECTION -->
          <div class="third-section">

            <div class="third-section-text">
              <h2>Let's dream big together</h2>
              <h3>Explore How can I help you</h3>
            </div>

            <div class="third-section-boxes">

              <div class="third-section-boxes-boxlist" v-for="item in MainThirdSectionBoxes">
                <img :src="'./img/course'+ item.img +'.jpg'" alt="">
                <h2>{{item.price}}</h2>
                <h3>{{item.description}}</h3>
              </div>


            </div>

            <div class="third-section-footer">
              <h2>Take the control of their life back and start doing things to make their dream come true.
                  <span>View all courses</span>
              </h2>
            </div>

          </div>
          <!-- THIRD SECTION -->

          <!-- FOURTH SECTION -->
          <div class="fourth-section">

              <div class="fourth-section-boxes">
                <div class="fourth-section-boxes-boxlist">
                  <div class="fourth-section-boxes-boxlist-video">
                    <div class="background">
                      <img src="img/icon-youtube-play.png" alt="">
                    </div>
                  </div>

                  <div class="fourth-section-boxes-boxlist-description">
                    <h2>To Thrive In Business Today, You'll Need a Good Plan</h2>
                    <h3>How can we help?</h3>
                    <p>How many courses you've been on, using however many techniques and methods. Unless you've come to realize the value of mindset, then you've yet to understand how success comes.</p>
                    <h3>Why would I need a business COACH?</h3>
                    <h3>What is one-on-one coaching?</h3>
                  </div>
                </div>
              </div>

          </div>
          <!-- FOURTH SECTION -->

          <!-- FIFTH SECTION -->
          <div class="fifth-section">
            <div class="fifth-section-text">
              <h2>Wanna transform your life?</h2>
              <h3>Upcoming Events</h3>
            </div>

            <div class="fifth-section-boxes">
              <div class="fifth-section-boxes-boxlist" v-for="element in MainFifthSectionBoxes">
                <div class="box-wherewhat">
                  <h3><i class="fa fa-map-marker" aria-hidden="true">{{element.location}}</i></h3>
                  <h2>{{element.title}}</h2>
                </div>
                <div class="box-date">
                  <h2>{{element.dateNum}}</h2>
                  <h3>{{element.dateMon}}</h3>
                  <button type="button" name="button">Get ticket</button>
                </div>
              </div>

            </div>
          </div>
          <!-- FIFTH SECTION -->



          <!-- SIXTH SECTION -->
          <!-- SIXTH SECTION -->

        </main>
        <!-- END MAIN -->

        <!-- FOOTER -->
        <footer>

        </footer>
        <!-- END FOOTER -->

      </div>
      <!-- END LANDING PAGE -->




    </div>
    <!-- END ROOT - APP -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
