// COMMON USE
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin standardContainer {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}

@mixin greenText {
  color: #20ad96;
}

// GENERAL CONTAINER ----------------------
#general-container {

// HEADER -----------------------
  .header {
    position: relative;

      &-bg {
        width: 100%;
        height: 850px;
        background-image: url(../img/home-business-hero-avatar.png), url(../img/home-business-hero-global-image.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: #eceeef;


        &-container {
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }

        // MENU CENTRALE NAVBAR -------

        .header-top {
          @include flexCenter;
          justify-content: space-around;
          height: 70px;
          width: 100%;
          background-color: white;
          margin: 0 auto;

          &-logo{
            width: 160px;
            img{width: 160px;}
            margin-right: 100px;
          }

          .menu-navbar {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &-center {
              li {
                display: inline;
                list-style: none;
                cursor: pointer;
                padding: 30px;
                color: #3F3A64;
              }
            }
          // OPTIONS SEARCH + LANGUAGE
          .menu-options {
            display: flex;
            position: relative;
            margin-left: 300px;

            &-select {
              margin-left: 10px;
            }

            &-search-bar {
              margin-left: 30px;
            }
          }
        }
      }

// JUMBOTRON SETTINGS -----------------------------
      .jumbotron {
        width: 500px;
        height: 100%;
        margin-left: 25%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h3 {
          font-size: 24px;
          line-height: 32px;
          font-weight: 500;
          color: #20ad96;
          margin-bottom: 20px;
        }

        h2 {
          font-size: 48px;
          line-height: 56px;
          font-weight: 800;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #3f3a64;
          margin: 20px 0px;
        }

        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.67;
          color: #8c89a2;
        }

        button {
          background-color: #1eae96;
          color: white;
          font-size: 14px;
          font-weight: 700;
          line-height: 50px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0 40px;
          cursor: pointer;
          border: 1px solid transparent;
          border-radius: 5px;
          outline: 0;
          height: 52px;
          margin: 20px 0px;
        }
      }
    }
  }



// MAIN CONTENT -----------------------

  .main {
    position: relative;


// FIRST SECTION -------------------------
    .first-section {
      width: 100%;
      height: 1000px;
      background-color: white;

      &-text {
        width: 1000px;
        text-align: center;
        padding: 30px;
        margin: 0 auto;
        h2{
          font-size: 24px;
          font-weight: 500;
          color: #20ad96;
          margin-bottom: 30px;
        }
        h3 {
          font-size: 34px;
          line-height: 1.42;
          margin: 0;
          color: #333;
        }
      }

      &-boxes {
        width: 1500px;
        height: 500px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        &-boxlist {
          width: 33%;
          height: 200px;
          display: flex;
          align-items: flex-start;

          .content {
            flex-grow: 1;
            padding: 15px;

            h2 {
              font-size: 24px;
              line-height: 1.5;
              font-weight: 600;
              margin: 0;
            }
            p {
              line-height: 1.6;
              margin-top: 20px;
              color: #696969;
            }
          }
        }

      }

      &-buttons {
        text-align: center;

        .learn-more {
          border: 2px solid #eee;
          font-size: 14px;
          font-weight: 700;
          line-height: 50px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0 40px;
          cursor: pointer;
          border-radius: 5px;
          height: 52px;
          color: #20ad96;
          background-color: white;
          margin: 15px;
        }

        .get-started {
          background-color: #1eae96;
          color: white;
          font-size: 14px;
          font-weight: 700;
          line-height: 50px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0 40px;
          cursor: pointer;
          border: 1px solid transparent;
          border-radius: 5px;
          height: 52px;
          margin: 15px;
        }
      }
    }

// SECOND SECTION -----------------------------
    .second-section {
      height: 850px;
      width: 100%;
      background-color: #eceeef;

      &-text {
        width: 1000px;
        text-align: center;
        padding: 30px;
        margin: 0 auto;
        h2{
          font-size: 24px;
          font-weight: 500;
          color: #20ad96;
          margin-bottom: 30px;
        }
        h3 {
          font-size: 50px;
          line-height: 1.42;
          margin: 0;
          color: #333;
        }
      }

      &-boxes {
        width: 63%;
        height: 750px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-boxlist {
          width: 30%;
          height: 530px;
          margin: 15px;
          background-color: white;
          border-radius: 15px;

          &-images {
            width: 100%;
            height: auto;
            text-align: center;
          }

          &-description {
            margin: 30px 80px;
            text-align: center;
            h2 {
              font-size: 24px;
              font-weight: 600;
            }
            p {
              margin-top: 10px;
              font-size: 18px;
              color: #696969;
            }
          }

          &-discover {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            border-top: 1px solid #20ad96;
            color: #20ad96;
            cursor: pointer;

            span {
              margin-right: 10px;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }
    }

// THIRD SECTION ------------------------------
    .third-section {
      height: 1000px;
      width: 100%;
      background-color: white;

      &-text {
        width: 1000px;
        text-align: center;
        padding: 30px;
        margin: 0 auto;
        h2{
          font-size: 24px;
          font-weight: 500;
          color: #20ad96;
          margin-bottom: 30px;
        }
        h3 {
          font-size: 50px;
          line-height: 1.42;
          margin: 0;
          color: #333;
        }
      }

      &-boxes {
        width: 100%;
        height: 700px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        &-boxlist {
          width: 20%;
          height: 90%;
          position: relative;
          overflow: hidden;
          border-radius: 5px;
          margin: 25px;
          cursor: pointer;

          img{
            width: 100%;
            height: auto;
          }

          .info {
            transform: translateY(-100%) translateY(-60px);
            padding: 20px;
            h2 {
              color: #20ad96;
              font-size: 30px;
            }
            h3 {
              color: white;
              font-size: 30px;
            }
          }
        }
      }

      &-footer {
        width: 100%;
        display: flex;
        justify-content: center;

        &-container {
          width: 700px;
          text-align: center;
          font-size: 16px;
          h2{
            font-weight: 500;
            color: #8c89a2;
          }
          span{
            cursor: pointer;
            color: #20ad96;
          }

        }
      }
    }

// FOURTH SECTION -----------------------------
    .fourth-section {
      height: 800px;
      width: 100%;
      background-color: #343142;
      background-image: url(../img/background-map-dots-top-right-transparent.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;

      &-boxes {
        width: 75%;
        height: 800px;
        margin: 0 auto;


        &-boxlist {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          &-video {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .preview {
              border-radius: 10px;
            }
            .youtube-icon {
              position: absolute;
              z-index: 9;
              cursor: pointer;
            }
          }

          &-description {
            width: 50%;
            height: 100%;

            h2 {
              font-size: 60px;
              line-height: 1.17em;
              color: #fff;
              margin: 40px;
            }

            h3 {
              margin: 40px;
              color: #fff;
              font-size: 26px;
              line-height: 1.3;
              padding: 0;
              font-weight: 600;
              display: block;
              border: 0;
              position: relative;
            }

            p {
              margin: 40px;
              font-weight: 400;
              letter-spacing: 0;
              line-height: 1.74;
              font-size: 15px;
              color: #fff;
            }
          }
        }
      }

    }

// FIFTH SECTION ------------------------------
    .fifth-section {
      height: 1000px;
      width: 100%;
      background-color: white;

      &-text {
        width: 1000px;
        text-align: center;
        padding: 30px;
        margin: 0 auto;
        h2{
          font-size: 24px;
          font-weight: 500;
          color: #20ad96;
          margin-bottom: 30px;
        }
        h3 {
          font-size: 50px;
          line-height: 1.42;
          margin: 0;
          color: #333;
        }
      }

      &-boxes {
        width: 1500px;
        height: 800px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        &-boxlist {
          width: 48%;
          height: 220px;
          display: flex;
          flex-wrap: wrap;
          background-color: #eceeef;
          border-radius: 5px;


          .box-wherewhat {
            width: 75%;
            padding: 40px;
            h3 {
              font-size: 14px;
              color: #7e7e7e;
              margin-bottom: 15px;
              cursor: pointer;
            }
          }

          .box-date {
            width: 25%;
            padding: 40px;
            text-align: center;
            h2 {
              font-size: 60px;
              line-height: 1;
              color: #20ad96;
            }
            h3 {
              margin: 10px 0px;
            }
            button {
              background-color: #1eae96;
              color: white;
              font-size: 14px;
              font-weight: 700;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              padding: 0 10px;
              cursor: pointer;
              border: 1px solid transparent;
              border-radius: 5px;
              outline: 0;
              height: 40px;
              width: 100px;
            }
          }
        }
      }
    }


    .sixth-section {
      height: 750px;
      width: 100%;
      background-color: #eceeef;

      &-text {
        text-align: center;
      }

      &-boxes {
        width: 100%;
        height: 750px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-boxlist {
          width: 25%;
          height: 500px;
          border: 1px solid black;
          margin: 3%;

          .comments {
            height: 50%;
            width: 100%;
          }

          .profiles {
            height: 50%;
            width: 100%;
          }
        }
      }
    }

    .seventh-section {
      height: 500px;
      width: 100%;
      background-color: white;

      &-text {
        text-align: center;
      }

      &-mail {
        text-align: center;
      }
    }

  }



}

/******* FOOTER *******/
footer{
display: flex;
justify-content: center;
min-height: 350px;
width: 100%;
color: #ababab;
background-color: #171520;
}

.content-container {
width: 1200px;
}

footer a{
color: lightgray;
}

footer h4{
color: white;
}

/* LEFT */
#contact li{
padding-top: 10px;
}

#contact, #navbar-footer{
width: 50%;
min-height: 250px;
float: left;
font-size: 16px;
padding-top:50px;
line-height: 2em;
}


#social li{
display: inline-block;
padding-right: 20px;
font-size: 30px;
}

#social li i:hover{
color: white;
}

/* RIGHT */
#navbar-footer{
display: flex;
padding-left: 50px;
}

#navbar-footer .column{
padding-right: 40px;
}

.column ul{
padding-top: 10px;
}

.second ul{
padding-top: 40px;
}


#copyright {
min-height: calc(350px - 250px);
display: flex;
width: 100%;
justify-content: center;
align-items: center;
font-size: 13px;
}
